<!DOCTYPE html>
<html>

<head>
  <title>The Denizen Designer Project</title>
  <meta
      property="og:description"
      content="The Denizen Designer Project is an ethnographic exploration of best practices and use cases of participatory design as a methodological framework."
    />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dbmev2ofj/image/upload/v1623726465/dd-logo2_xfa4r2.svg"
    />
    <meta name="twitter:card" content="summary_large_image" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>

</html>